.createForm__container
    width:1420px
    margin: 0 auto
    font-family: "Montserrat", sans-serif
    
.createForm__block
    display: flex
    
    
.createForm__form
    width: 671px
    height: 694px
    background-color: white
    display: grid
    row-gap: 42px