.form
    width: 100% 

    padding: 20px 150px

    box-sizing: border-box

    display: flex

    justify-content: center
    align-content: center

.reg_image
    margin: auto
    height: 100px
    width: 100px
    background-image: url("../src/assets/images/reg.png")

form
    margin: auto
    height: 576px
    width: 100%
    background-color: white

    border-radius: 0px 0px 10px 10px    

    display: flex

    flex-direction: column
    align-content: center

.form-img
    margin: auto
    height: 700px
    width: 700px

.label
    margin: auto

.label-top
    font-size: 24px
    margin: 45px auto

.input
    background-color:  #023E8A30
    font-size: 16px

    width: 410px
    height: 55px
    border-radius: 10px

    margin-top: 45px
    
    padding-left: 35px
    
    border: none
    margin: auto

.btn
    font-size: 22px

    width: 167px
    height: 54px

    margin: auto    

    margin-top: 97px
    margin-bottom: 52px

    background-color: #03045E

    border: none

    border-radius: 10px

    color: white

.form_box-header
    border-radius: 10px 10px 0px 0px
    background-color: #03045E

    height: 196px
    width: 550px

    display: flex

.form_box-header-text

    margin: auto
    text-transform: uppercase

    text-align: center

    font-size: 34px

    color: white

.form_box
    margin: auto
    height: 772px
    width: 550px

    display: flex

    flex-direction: column
    align-self: right