@import url(https://fonts.googleapis.com/css?family=Montserrat:300,regular,500,600,700,800);
.createForm__container {
  width: 1420px;
  margin: 0 auto;
}

.createForm__h1 {
  color: white;
}

.createForm__block {
  display: flex;
  flex-direction: space-between;
}

.createForm__form {
  width: 671px;
  height: 694px;
  background-color: white;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
}

.createForm__title {
  font-family: "Montserrat", sans-serif;
  width: 537px;
  height: 68px;
  font-size: 16px;
  margin: 0 auto;
  background-color: #CFDBE9;
  border: none;
  margin-top: 68px;
  padding: 0 15px 0px 20px;
  border-radius: 10px;
}

.createForm__description {
  width: 537px;
  max-height: 68px;
  font-size: 16px;
  margin: 0 auto;
  background-color: #CFDBE9;
  border: none;
  padding: 15px 15px 0px 20px;
  border-radius: 10px;
  margin-top: 45px;
  resize: vertical;
}

.createForm__Button {
  background-color: #03045E;
  width: 259px;
  height: 70px;
  color: white;
  border-radius: 10px;
  margin: 0 auto;
  font-size: 18px;
  transition: all 0.3s ease-in;
}

.createForm__Button:hover {
  background-color: #FF7D00;
  border: none;
}

.battle__container {
  width: 1420px;
  margin: 0 auto;
}

.battle__block {
  width: 1413px;
  background-color: #FFECD1;
  border-radius: 10px;
}

.battle__title {
  padding-top: 50px;
  padding-left: 50px;
}

.battle__text {
  padding-left: 50px;
  padding-top: 32px;
  padding-bottom: 50px;
}

.playerOne {
  margin-top: 100px;
}

.playerOne__form {
  background-color: #03045E;
  width: 1376px;
  height: 99px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 0;
}

.playerOne__title {
  font-weight: 300;
  padding-left: 48px;
}

.playerOne__btn {
  border-radius: 10px 0px;
  border-color: transparent;
  background: #FF7D00;
  color: white;
  width: 195px;
  height: 60px;
  font-weight: 700;
  font-size: 16px;
  transition: all 0.4s ease-in;
}

.playerOne__btn:hover {
  background: #fc9738;
}

.playerOne__text {
  position: absolute;
  top: 100px;
  left: 0;
  width: 1346px;
  height: 500px;
  margin: 0 auto;
  resize: vertical;
  padding: 15px 15px 0px 15px;
}

.playerTwo {
  margin-top: 650px;
}

.playerOne__text2 {
  position: absolute;
  top: 100px;
  left: 0;
  width: 1346px;
  height: 500px;
  margin: 0 auto;
  resize: vertical;
  padding: 15px;
  margin-bottom: 100px;
}

.reg_image {
  margin: auto;
  height: 100px;
  width: 100px;
  background-image: url("../src/assets/images/reg.png");
}

.form_container {
  width: 100%;
  max-width: 1920px;
  margin: auto;
  padding: 20px 150px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-content: center;
}

form {
  margin: auto;
  height: 576px;
  width: 100%;
  background-color: white;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.form-img {
  margin: auto;
  height: 700px;
  width: 800px;
}

.form_box {
  margin: auto;
  height: 772px;
  width: 550px;
  display: flex;
  flex-direction: column;
  align-self: right;
}

.form_box-header {
  border-radius: 10px 10px 0px 0px;
  background-color: #03045E;
  height: 196px;
  width: 550px;
  display: flex;
  flex-direction: column;
}

.form_box-header-text {
  margin: auto;
  text-transform: uppercase;
  text-align: center;
  font-size: 34px;
  color: white;
}

.input_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  background-color: rgba(2, 62, 138, 0.1882352941);
  font-size: 16px;
  width: 410px;
  height: 55px;
  border-radius: 10px;
  padding-left: 35px;
  border: none;
  margin-top: 20px;
}
.input:first-child {
  margin-top: 0px;
}

.label {
  margin: auto;
}

.label-top {
  font-size: 24px;
  margin: 20px auto;
}

.mes {
  font-size: 12px;
  color: red;
}

.btn {
  font-size: 22px;
  width: 167px;
  height: 54px;
  margin: auto;
  margin-bottom: 52px;
  background-color: #03045E;
  border: none;
  border-radius: 10px;
  color: white;
}
.btn:hover {
  background-color: #030347;
}

.file {
  background-color: #03045E;
  color: white;
  padding: 0.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 10px;
}
.file:hover {
  background-color: #030347;
}

header {
  max-width: 1920px;
  height: 85px;
  width: 100%;
  background-color: #001524;
  color: white;
  margin: auto;
  padding: 0px 100px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 26px;
}

.header_textbox {
  display: flex;
  align-items: center;
}

.header_logbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logbox-reg {
  color: white;
  text-decoration: none;
  margin-left: 50px;
  display: flex;
}
.header_logbox-reg:hover {
  color: #bebebe;
}
.header_logbox-reg:first-child {
  margin-left: 0px;
}

.user-logo {
  height: 25px;
  width: 25px;
  background-color: white;
  margin: auto;
  margin-right: 10px;
  display: inline-block;
  border-radius: 50%;
}

.tasks-container {
  max-width: 1920px;
  margin: auto;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 0px 100px;
  box-sizing: border-box;
}

.tasks-top {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
}

.tasks-top-button {
  height: 61px;
  width: 180px;
  background-color: #03045E;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
  margin-left: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.tasks-top-button:hover {
  background-color: #030347;
}

.tasks-main {
  min-height: 700px;
  width: 100%;
}

table {
  min-height: 663px;
  width: 100%;
  background-color: #fff;
  border-spacing: 0px;
  border-collapse: collapse;
  border-radius: 10px;
}

tr {
  height: 117px;
  width: 100%;
  border-bottom: 1px solid black;
  background-color: #fff;
  display: flex;
  align-items: center;
  font-size: 22px;
}
tr:first-child {
  font-weight: 200;
  color: white;
  height: 68px;
  background-color: #03045E;
}

th {
  text-align: left;
  min-width: 300px;
  margin: auto;
}
th:first-child {
  margin-left: 65px;
}

.tasks-main-button {
  height: 47px;
  width: 147px;
  background-color: #03045E;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
  margin-left: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.tasks-main-button:hover {
  background-color: #030347;
}

.footer__container {
  width: 1420px;
  margin: 60px auto;
}

.footer__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: white;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

body {
  background-color: #001524;
  font-family: "Montserrat", sans-serif;
}

.login_frame {
  height: 100vh;
  width: 100%;
}

.success {
  text-align: center;
}

.root {
  background-color: #001524;
  margin: 0 auto;
}/*# sourceMappingURL=style.css.map */