.input {
    display: flex;
}

#left-input {
    margin-left: 10%;
    margin-top: 7%;
    height: 700px;
    width: 700px;
}

#right-input {
    margin-top: 7%;
    margin-left: 5%;
    height: 700px;
    width: 700px;
}